attrs
bcrypt
boto3
cachetools
certifi
cffi
chardet
click
email-validator
fastapi
gunicorn
h11
httptools
idna
iniconfig
jmespath
lxml
packaging
pluggy
py
pycparser
pydantic
PyJWT
PyMySQL
pyparsing
pytest
python-dateutil
requests
six
SQLAlchemy
starlette
toml
urllib3
uvicorn
uvloop